---
groups:
  example: 예제
  voucher: 액티비티
---
<!DOCTYPE html>
<html lang="ko">
<head>
  <title><%= pkgInfo.name %></title>
  <meta charset="utf-8">
  <link rel="shortcut icon" href="/images/favicon/favicon.ico">
  <link
    rel="stylesheet"
    href="/styles/common/common.css">
  <link
    rel="stylesheet"
    href="/styles/index/index.css">
</head>

<body>
<main class="preview">
  <aside
    class="aside">
    <div class="repo-info expanded">
      <button
        type="button"
        class="btn-toggle">
        <span>toggle</span>
      </button>
      <div class="repo-avatar">
        <img
          src="/images/index/avatar.svg"
          alt="<%= pkgInfo.name %>">
      </div>
      <h1>
        <a
          href="<%- pkgInfo.repository.url %>"
          target="_blank">
          <%= pkgInfo.name %>
        </a>
      </h1>
      <p class="repo-desc"><%= pkgInfo.description %></p>
    </div>
    <div class="page-wrap">
      <div class="page-search">
        <label>
          <input
            class="input-search"
            type="search"
            required>
        </label>
      </div>
      <div class="page-scroll">
        <%
        const groups = Object.keys(list);
        groups.map(g => { %>
          <div
            class="page-group-wrap"
            data-depth="0">
            <strong class="groups-name"><%= list[g].name %></strong>
            <ul class="page-groups">
              <%
                if (list[g].pages.length > 0) {
                  list[g].pages.map(page => {
              %>
                <li data-depth="1">
                  <strong
                    data-path="<%= page.path %>"
                    class="page-name">
                    <%= page.name %>
                  </strong>
                  <ul>
                  <% page.states.map(state => { %>
                    <li
                      data-depth="2">
                      <a
                        href="<%- state.href %>"
                        title="<%= `${page.name}-${state.text}` %>"
                        data-group="<%= list[g].name %>"
                        data-token="<%- state.token %>"
                        class="page-state">
                        <%= state.text %>
                      </a>
                    </li>
                  <% }); %>
                  </ul>
                </li>
              <%
                  });
                } else {
              %>
                <li class="page-none">페이지가 없습니다.</li>
              <% } %>
            </ul>
          </div>
        <% }); %>
      </div>
    </div>
  </aside>
  <div class="move-point"></div>
  <div class="preview">
    <div class="preview-info">
      <div
        class="preview-title">
        <h2>
          <span class="preview-page"></span>
          <span class="preview-state"></span>
        </h2>
        <span class="preview-url"></span>
      </div>
      <a
        href="#"
        class="link-new"
        target="_blank">WINDOW OPEN</a>
    </div>

    <iframe
      id="contentFrame"
      class="frame"></iframe>
  </div>
</main>
<script src="/scripts/index/index.js"></script>
</body>
</html>
